<%- include("./partials/header.ejs") %>

<div class="container" style="padding-top: 5%;">
    <h1 style="color: #EF8354; padding-bottom: 5%;">PROBLEMS</h1>   
    <div class="problems" style="padding-bottom: 5%;">
        <div class="card text-white bg-warning" style="max-width: 100%; outline: none;">
            <div class="card-body" style="background-color: white; color: #EF8354;">
              <h5 class="card-title">Warning card title</h5>
              <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">Dificulty: <span style="color: #1ba94c;">Easy</span></p>
                  </div>
                  <div class="col-sm-4">
                    <a href="/problem" class="btn2">Solve</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="card text-white bg-warning" style="max-width: 100%; outline: none;">
            <div class="card-body" style="background-color: white; color: #EF8354;">
              <h5 class="card-title">Warning card title</h5>
              <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">Dificulty: <span style="color: #1ba94c;">Easy</span></p>
                  </div>
                  <div class="col-sm-4">
                    <a href="/problem" class="btn2">Solve</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="card text-white bg-warning" style="max-width: 100%; outline: none;">
            <div class="card-body" style="background-color: white; color: #EF8354;">
              <h5 class="card-title">Warning card title</h5>
              <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">Dificulty: <span style="color: #1ba94c;">Easy</span></p>
                  </div>
                  <div class="col-sm-4">
                    <a href="/problems" class="btn2">Solve</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="card text-white bg-warning" style="max-width: 100%; outline: none;">
            <div class="card-body" style="background-color: white; color: #EF8354;">
              <h5 class="card-title">Warning card title</h5>
              <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">Dificulty: <span style="color: #1ba94c;">Easy</span></p>
                  </div>
                  <div class="col-sm-4">
                    <a href="/problems" class="btn2">Solve</a>
                  </div>
              </div>
            </div>
        </div>
        <div class="card text-white bg-warning" style="max-width: 100%; outline: none;">
            <div class="card-body" style="background-color: white; color: #EF8354;">
              <h5 class="card-title">Warning card title</h5>
              <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text">Dificulty: <span style="color: #1ba94c;">Easy</span></p>
                  </div>
                  <div class="col-sm-4">
                    <a href="/problems" class="btn2">Solve</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
    
</div>

<%- include("./partials/footer.ejs") %>